{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>
<p class="post-time">Posted on {{ .Date.Format "January 2, 2006" }}</p>

{{ .Content }}

<hr />

<p class="nav">
{{ with .Next }}
<a href="{{ .RelPermalink }}">&nbsp;<{{ .LinkTitle }}</a>
{{ end }}
{{ with .Prev }}
| <a href="{{ .RelPermalink }}">{{ .LinkTitle }}></a>
{{ end }}
</p>

<p>
This entry was posted in 
{{ with .Params.categories }} 
{{- range $index, $value := . -}}{{ if ne $index 0 }},{{ end }}
<a href="{{ "categories" | absURL }}/{{ $value | urlize | lower }}">
  {{$value  | title}}</a>
{{- end -}}
{{ end }} 
and tagged 
{{ with .Params.tags }} 
{{- range $index, $value := . -}}{{ if ne $index 0 }},{{ end }}
<a href="{{ "tags" | absURL }}/{{ $value | urlize | lower }}">
  {{- $value  | lower -}}
</a>
{{- end -}}.
{{ end }} 
</p>

{{ partial "disqus.html" . }}

{{ partial "footer.html" . }}
